code {
  white-space: pre-line;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  margin-bottom: 4px;
}

.article {
  h2 {
    margin-top: 0px;
  }
}

.well {
  h3 {
    padding-top: 0px;
    margin-top: 0px;
  }
}

.pagecount {
  text-align: center;
}