img {
  display: block;
  max-width: 100%;
  margin: auto;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.menu-list {
  margin-bottom: 4px;
}

.article {
  h2 {
    margin-top: 0px;
  }
}

.well {
  h3 {
    padding-top: 0px;
    margin-top: 0px;
  }
}

.pagecount {
  text-align: center;
}

.project-start-end {
  color: #D8D7EA;
  float: right;
}

.project-description {
  padding-left: 20px;
}

.author-image {
  width: 30%;
  padding-left: 8px;
  padding-bottom: 8px;
}